@font-face {
    font-family: "roboto";
    src: url("../font/Roboto.ttf");
}

@font-face {
    font-family: "conthrax";
    src: url("../font/conthrax.ttf");
}

@font-face {
    font-family: "dosis";
    src: url("../font/Dosis.ttf");
}


.font-very-small{font-size: 10px}
.font-small{font-size: 12px}
.font-middle{font-size: 14px}
.font-large{font-size: 18px}
.font-very-large{font-size: 28px}

.font-green-color{color: #A7CF45}
.font-dark-color{color: #2c3840}
.font-white-color{color: #f5f5f5}
.font-red-color{color: #E74C3C}
.font-blue-color{color: #3498DB}
.font-orange-color{color: #F39C12}

.bg-green{background-color: #A7CF45}
.bg-dark{background-color: #2c3840}
.bg-white{background-color: #f5f5f5}
.bg-red{background-color: #E74C3C}
.bg-blue{background-color: #3498DB}
.bg-orange{background-color: #F39C12}
.bg-purple{background-color: #9a12b3}
.bg-yellow{background-color: hsla(54, 89%, 64%,1)}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
html,body{
    font-family: roboto;
    margin: 0;
    padding: 0;
    color: #2C3E50;
}

body {overflow-y: scroll;-ms-overflow-style: none; overflow-x: hidden}
body::-webkit-scrollbar { width: 0; height: 0; }

*{ box-sizing: border-box }

a{ text-decoration: none}

.logo{
    display: none;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
header{
    position: fixed;
    color: #f5f5f5;
    width: 100%;
    height: 40px;
    z-index: 2;
    left: 0;top: 0;

    background-color: #2c3840;

    /* background: -moz-linear-gradient(#54B4EB, #2FA4E7 60%, #1D9CE5); /* FF 3.6+ */
    /* background: -ms-linear-gradient(#54B4EB, #2FA4E7 60%, #1D9CE5); /* IE10 */
    /* background: -webkit-linear-gradient(#54B4EB, #2FA4E7 60%, #1D9CE5); /* Safari 5.1+, Chrome 10+ */
    /* background: -o-linear-gradient(#54B4EB, #2FA4E7 60%, #1D9CE5); /* Opera 11.10 */
    /* background: linear-gradient(#54B4EB, #2FA4E7 60%, #1D9CE5); /* the standard */
}

header > div{ position: relative; height: 100% }

nav{
    font-family: conthrax;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
}
nav > li:first-child{
    display: none;
}
nav > li:not(:first-child){
    cursor: pointer;
  
    text-shadow: 0 1px 0 #000;
    align-items: center;
    margin: 0 -5px -5px 0;
    padding: 0 15px 0 15px;
    font-size: 12px;
    font-weight: bold;
    display: inline-flex;
    height: 100%;
}

footer{
    background-color: #2c3840;width: 100%;padding: 8px;text-align: center
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: inline-block;
    padding-top: 3px;

}

td {
    font-size: 12px;
    text-align: left;
    padding: 5px;
}



.content{     margin-top: 40px; display: flex;}





.avatar{
    display: inline-block;
    background-color: #2c3840;
    background-image: url("../img/avatar.jpg");
    background-repeat: no-repeat;
    background-size: 120px;
    background-position: center;
    width: 120px;
    height: 120px;
    border-radius: 100%;border: 10px solid #2c3840;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
}


.flex-item {
    border: 8px solid #2c3840;
    background-color: #2c3840;
    width: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.thumbnail{
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 220px;
}

.thumb_hover{
    position: relative;
    height: 100%;
    opacity: 0;
    transition: 0.8s;
    background-color: rgba(0,0,0,0.5);
}
.thumb_hover:hover{
    opacity: 1;
    cursor: pointer;
}


.thumb_hover > div{
    border: 2px solid #f5f5f5;
    border-radius: 8px;
    font-weight: bold;
    color: #f5f5f5;
    padding: 4px;
    position: absolute;left: 50%;top: 50%;
    height: 34px;
    width: 100px;
    margin-left: -50px;
    margin-top: -17px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}


.label{
    color: #f5f5f5;
    padding: 8px;
    line-height: 1.4;
}


.skill_container{
    width: 300px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.skill_container > div:first-child{
    width: 50px;
    text-align: center;
}
.skill_container > div:last-child{
    padding: 8px;
    flex: 1;

}

.multidisciplinary > div{
    width: 500px;
}
.skill_label{
    font-size: 14px;
}
.lblpercent{
    float: right;
}
.progressbar {
    background-color: #2c3840;
    border-radius: 13px;
    padding: 3px;
}

.progressbar>div {
    background-color: #F39C12;
    height: 10px;
    border-radius: 10px;
}

#about > div:first-child,
#skill > div:first-child,
#multidisciplinary > div:first-child,
#portfolio > div:first-child{
    border-bottom:5px solid #2c3840;
    margin-bottom: 20px;
 

    font-family: conthrax;
}

#about > div:first-child > div,
#skill > div:first-child > div,
#multidisciplinary > div:first-child > div,
#portfolio > div:first-child > div{
    background-color:#2c3840;
    padding: 8px 12px;
    color: #f5f5f5;
    display: inline-block;
    font-size: 15px;

}

.tag_job{
    display: inline-block;margin: 4px;border-radius: 12px;padding: 6px 12px;
    font-size: 12px;
}

.leftpanel{
    height: 100%;text-align: center;
    padding: 30px;
}

button{
    border: 0;
    color: #f5f5f5;
    padding: 8px 12px;
    font-size: 14px;
    font-family: roboto, serif;
    cursor: pointer;
    background-color: #1779ba;
}
button:hover{  background-color: #1c95e6; }


.activeState,.inactiveState{
    padding: 8px;
    margin-top: 8px;
    border-radius: 8px;
}


.activeState{
    color: #A7CF45;
    border: 2px solid #A7CF45;
}


.inactiveState{
    color: #E74C3C;
    border: 2px solid #E74C3C;
}
