@media screen and (max-width: 1000px) {
    .nav > li:first-child{ display: block}
    .nav > li:not(:first-child){ display: none;z-index: 4}
    .content{display: block}
    .container_avatar{display: block}
    button{width: 100%}

    .flex-container {display: block}
    .flex-item {
        width: 100%;
        border-radius: 0;
        box-shadow: 0 0 0 transparent;
        margin: 0 0 20px 0;

        padding-bottom: 1px;
    }
    .skill_container,.multidisciplinary > div{width: 100%}
    .leftpanel{
        border-radius: 0;
    }

    #about > div:first-child,
    #skill > div:first-child,
    #multidisciplinary > div:first-child,
    #portofolio > div:first-child{
        text-align: center;
    }
}