@media screen and (max-width: 1000px) {
    .logo{
        font-weight: bold; position: absolute;display: inline-block;padding-top: 10px;padding-left: 10px
    }
    .container{
        width: 100%;
    }
    nav {float: right}
    nav > li:not(:first-child){ display: none;z-index: 4}

    nav > li:first-child{
        margin-top: 8px;
        margin-right: 8px;
        padding: 0;
        display: block;
        background-image: url("../img/hamburger.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        width: 20px;
        height: 20px;
    }
    header{
        position: static;
    }
    .cover{height: 200px}


    .content{display: block;margin-top: 0;}
    .container_avatar{display: block}
    button{width: 100%}

    .flex-container {display: block}
    .flex-item {
        width: 100%;
        border-radius: 0;
        box-shadow: 0 0 0 transparent;
        margin: 0 0 20px 0;

        padding-bottom: 1px;
    }
    .skill_container,.multidisciplinary > div{width: 100%}
    .leftpanel{
        border-radius: 0;
    }

    #about > div:first-child,
    #skill > div:first-child,
    #multidisciplinary > div:first-child,
    #portfolio > div:first-child{
        text-align: center;
    }
 
}